
   {% load static %}
   <!-- Footer -->

    <footer class="w-100 text-start text-lg-start pt-5 text-white">
        <div class="container-fluid p-4 pb-0">
            <section class="">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 mb-4">
                        <a class="footer-logo mb-4 d-block" href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt=""
                                height="100" width="160" alt=""></a>
                        <h5 class="mt-3 mb-4">AZƏRİ İNŞAAT TQŞ</h5>
                        <!-- <div class="w-100 text-md-start">
                            <a class="btn btn-outline-light btn-floating m-1" href="" class="text-white"
                                role="button"><i class="fab fa-facebook-f"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="" class="text-white"
                                role="button"><i class="fab fa-twitter"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="" class="text-white"
                                role="button"><i class="fab fa-google"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="" class="text-white"
                                role="button"><i class="fab fa-instagram"></i></a>
                        </div> -->
                    </div>

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Xİdmətlərİmİz</h6>
                        <p>
                            <a href="{% url 'projects' %}" class="text-white"><i class="fa fa-chevron-right"></i> Yüksək və aşağı gərginlikli elektrik kabel xətlərinin çəkilməsi</a>
                        </p>
                        <p>
                            <a href="{% url 'projects' %}" class="text-white"><i class="fa fa-chevron-right"></i> Küçə işıqlandırılması</a>
                        </p>
                        <p>
                            <a href="{% url 'projects' %}" class="text-white"><i class="fa fa-chevron-right"></i>Bakı şəhərində və bakı kəndlərində təmir abadlıq işləri</a>
                        </p>
                        <p>
                            <a href="{% url 'projects' %}" class="text-white"><i class="fa fa-chevron-right"></i>İşğaldan azad edilmiş ərazilərdə təmir abadlıq işləri, yenidənqurma işləri</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />

                    <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Şİrkətİmİz
                        </h6>
                        <p>
                            <a href="{% url 'about' %}" class="text-white"><i class="fa fa-chevron-right"></i>Haqqımızda</a>
                        </p>
                        <p>
                            <a href="{% url 'services' %}" class="text-white"><i class="fa fa-chevron-right"></i>Xidmətlərimiz</a>
                        </p>
                        <p>
                            <a href="{% url 'projects' %}" class="text-white"><i class="fa fa-chevron-right"></i>İşlərimiz</a>
                        </p>
                      
                    </div>

                    <div class="col-md-6 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Bİzİmlə Əlaqə
                        </h6>
                        <div class="d-flex align-items-start">
                            <i class="fa fa-phone mt-2"></i>
                            <p class="d-flex flex-column p-0" style="margin-left: 20px;">
                                <a href="tel:+994555644404" class="text-white">(+994) 55 564 44 04</a>
                                <a href="tel:+994555644404" class="text-white">(+994) 50 564 44 04</a>
                            </p>
                        </div>
                        <p>
                            <a href="" class="text-white"><i class="fa fa-map-marker"></i>Bakı <br> Yasamal rayonu <br> Şəfayət Mehtiyev küçəsi <br> ev 163-175 mənzil 1A</a>
                        </p>
                        <p>
                            <a href="" class="text-white"><i class="fa fa-envelope"></i>azeriinshaat.tqsh@mail.ru</a>
                        </p>
                       
                    </div>
                </div>
            </section>
            <div class="w-100 d-flex align-items-center justify-content-center py-4 mt-5" style="border-top: 1px solid white;">
<b>Powered by <a style="color: white;" href="https://ungravity.com/">Ungravity&copy;</a></b>
            </div>

           
        </div>
    </footer>