{% extends 'base.html' %}

{% load static %}

{% block css%}


<link rel="stylesheet" href="{% static 'css/services-section.css' %}">

{% endblock%}


{% block title%}

<title>Xidmətlərimiz</title>

{% endblock %}


{% block content%}


<section class="services-section w-100 py-5">
    <div class="container-fluid mt-4 projects-header mx-auto d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center w-full max-[768px]:mb-5  mb-3">
            <span class="service-small-title mb-3">xİdmətlər</span>
            <h2 class="services-title">
                Xidmətlərimiz</h2>
        </div>

    </div>
    <div class="container-fluid mt-5">

        <div class="row w-100 d-flex ">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4 px-3">
                <div class="service-item w-100 d-flex align-items-start justify-content-between">
                    <img src="{% static 'images/cable.png'%}"
                        alt="" class="service-img" width="80" height="80">
                    <div class="d-flex flex-column service-content mt-3">
                        <h3>Yüksək və aşağı gərginlikli elektrik kabel xətlərinin çəkilməsi</h3>
                        <p>Dəqiqlik və təhlükəsizliyə diqqət yetirməklə, təcrübəli komandamız layihələrinizi səmərəli
                            şəkildə gücləndirmək üçün qüsursuz quraşdırma təmin edir. Strateji planlaşdırma
                            mərhələsindən yekun əlaqəyə qədər biz elektrik sistemlərinin mürəkkəbliklərini təcrübə ilə
                            idarə edirik və ən yüksək standartlara cavab verən həllər təqdim edirik. </p>
                    </div>



                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4 px-3">
                <div class="service-item w-100 d-flex align-items-start justify-content-between">
                    <img src="{% static 'images/streetlight.png' %}"
                        alt="" class="service-img" width="80" height="80">
                    <div class="d-flex flex-column service-content">
                        <h3>Küçə işıqlandırılması</h3>
                        <p>Enerjiyə qənaət edən LED texnologiyalarından tutmuş ağıllı işıqlandırma həllərinə qədər biz davamlılıq və innovasiyaya üstünlük veririk. Mövcud infrastrukturu təkmilləşdirmək və ya yeni layihəyə başlamaq istəsəniz, Azəri İşaat TQŞ küçələrinizi dəqiqlik, etibarlılıq və icmanız üçün daha parlaq, təhlükəsiz gələcəyə sədaqətlə işıqlandırmaq üçün etibar edin.</p>
                    </div>



                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4 px-3">
                <div class="service-item w-100 d-flex align-items-start justify-content-between">
                    <img src="{% static 'images/construction.png' %}"
                        alt="" class="service-img" width="60" height="60">
                    <div class="d-flex flex-column service-content">
                        <h3>Bakı şəhərində və bakı kəndlərində təmir abadlıq işləri</h3>
                        <p>Bakının şəhər və kənd mənzərələrini yüksəldərək, biz hər küncə yeni nəfəs verən təmir və abadlıq işlərində ixtisaslaşırıq. Bakı şəhərinin mərkəzindən onu əhatə edən sakit kəndlərə qədər bizim fədakar komandamız məkanları genişləndirmək və davamlı dəyişikliklər yaratmaq öhdəliyi götürür. </p>
                    </div>



                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-4 px-3">
                <div class="service-item w-100 d-flex align-items-start justify-content-between">
                    <img src="{% static 'images/construction2.png' %}"
                        alt="" class="service-img" width="60" height="60">
                    <div class="d-flex flex-column service-content">
                        <h3>İşğaldan azad edilmiş ərazilərdə təmir abadlıq işləri, yenidənqurma işləri</h3>
                        <p>Biz  işğaldan azad edilmiş ərazilərdə kompleks təmir, abadlıq və yenidənqurma işlərində ixtisaslaşırıq. Bu bölgələri bərpa etmək və canlandırmaq öhdəliyi götürən təcrübəli komandamız icmaların, infrastrukturun və görməli yerlərin yenidən qurulması vəzifəsini öz üzərinə götürür. Dərin məqsəd hissi ilə biz bu sahələrin transformasiyasına töhfə veririk, onların əvvəlkindən daha güclü və canlı olmasını təmin edirik.</p>
                    </div>



                </div>
            </div>

           










        </div>

    </div>
</section>



{% endblock %}